<script id="areaTypeListTemplate" type="text/template">
    <%= areaType %><span class="pull-right"></span>
</script>
<script id="controlGroupTemplate" type="text/template">
    <label id="loopButton" data-resourceid="loopTitle" class="btn btn-primary btn-block localize">Loop</label>
    <label id="backButton" data-resourceid="buttonBackTitle" class="btn btn-block btn-primary btnBackToAreaList localize" data-target="span:nth-child(2)">
        <span class="glyphicon glyphicon glyphicon-chevron-left pull-left"></span>
        <span id="buttonBackTitle"></span>
    </label>
</script>
