<script id="errorTemplate" type="text/template">
    <div class="alert alert-danger">
        <span class="localize" data-resourceId="error404">Error</span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
</script>

<script id="initialNoteTemplate" type="text/template">
    <div class="alert alert-info">
        <span class="localize" data-resourceId="initialStateNote">Error</span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
</script>